.header {
  margin: 30px;
  white-space: nowrap;
}

.loginPage {
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formLogin > form {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 400px;
}

.formLogin label {
  font-weight: 800;
}

.formLogin input {
  margin-top: 5px;
  margin-bottom: 10px;
  height: 25px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.formLogin input:focus {
  border-color: #C2A4FF;
  outline: none;
}

.formLogin  button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C2A4FF;
  height: 40px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
}

.simpleLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin-top: 50px;
}

.simpleLogin > img {
  width: 250px;
  height: 60px;
  margin-bottom: 10px;
}
