.header {
  display: flex;
  justify-content: center;
}

.headerInfo {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.header > img {
  width: 500px;
  margin-top: 50px;
  margin-right: 100px;
}

.main {
  margin: 40px;
}

.section {
  margin-bottom: 60px;
}

.sectionTitle {
  margin-bottom: 10px;
}

.content {
  margin-top: 10px;
}