* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  text-align: right;
  background-color: #f0efef;
  flex-direction: row;
  padding: 20px;
}

.Logo {
  width: 30px;
}

.navProject {
  margin-left: 850px;
  font-size: 18px;
  font-weight: 800;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
}

li {
  float: left;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.navProject > a {
  color: #C2A4FF;
}